__pycache__/
.ipynb_checkpoints/
500k_15_weights/
500k_weights_25/
500k_world
chile_data/
chile-lat-lon/
finetuned/
jsons/
new_dataset/
500k_median.json
500k_split.json
500k_weights.h5
chile_classifier.h5
chile_median.json
chile_split.json
chile-finetuned.h5
chile-lat-lon.h5
chile.pkl
duels_challenge.py 
gen_img_1.jpg
gen_img.jpg
test.py
worldPoly_500k.pkl
third_duel.py
square_median_3.json
single_challenge.py
second_duel.py
world_model.ipynb 
network.py
merged_jsons.py
load_data.py
new_model.ipynb
new_cell_config.py
load_data.py
img_generation.py